/* width */
::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #4f56c0;
}

// iframe {
//   pointer-events: none !important;
// }

// /* Handle on hover */
// ::-webkit-scrollbar-thumb:hover {
//   background: #555;
// }

.sub-table-wrapper {
  background-color: #f4f4f4;
  padding: 18px;
  font-weight: 500;

  .sub-table-container {
    background-color: #fff;
    padding: 24px;
    border-radius: 4px;
    box-shadow: 1px 1px solid red;
  }
  .light-heading {
    font-size: 14px;
    color: #9a9b9a;
    margin: 12px 0 6px 0;
  }
}

.back-icon {
  background-color: #dee7f5;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  margin-bottom: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ant-skeleton {
  width: 100% !important;
}

.ant-select-status-error.ant-select:not(.ant-select-disabled):not(
    .ant-select-customize-input
  )
  .ant-select-selector {
  border-color: #d1d1d1 !important;
}

.ant-picker:hover,
.ant-picker-focused,
.ant-picker-active {
  border-color: #d1d1d1 !important;
}

.ant-steps-item-icon .ant-steps-icon {
  font-size: 20px !important;
  user-select: none;
}

.ReactFlagsSelect-module_flagsSelect__2pfa2 {
  background-color: #fff !important;
  padding-bottom: 0px !important;
  button {
    padding: 2px 4px !important;
    color: #000 !important;
  }
}

.country-select {
  width: 100%;
  input {
    height: 40px;
    width: 100%;
    border: 1px solid #d1d1d1;
    cursor: pointer;
  }
}
.country-select.inside .flag-dropdown {
  width: 100%;
}

.country-select.inside .selected-flag {
  width: 100% !important;
}

.ReactTable .rt-thead .rt-th,
.ReactTable .rt-thead .rt-td {
  display: flex !important;
  align-items: center !important;
  // justify-content: center !important;
}

.ant-popover-content {
  width: 400px !important;
}

.ant-popover-title {
  font-weight: bold;
}
